body{background-color: lightblue;
    color: darkblue;

}

h1{
    font-family: Arial;
    font-size: 36px;
    text-align: center;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }
  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }